* {
    box-sizing: border-box;
}
body{
    margin: 0 auto;
    padding: 0;
    background-color: #F0FFFF;
    font-family: 'Inconsolata', monospace, Arial;
    color: #000000;
    font-size: 16px;
}
img{
    width: 15%;
    border-radius: 300px;
    -webkit-border-radius: 300px;
    -moz-border-radius: 300px;
    -ms-border-radius: 300px;
    -o-border-radius: 300px;
}
div{
    padding: 0;
    margin: 0;
    background-image: url(./img/MarinaShylo.jpg);
    background-color: #000000;
}
.f-col{
    float:left;
    width: 35%;
    padding: 10px;
    margin: 2% 0.5%;
}
.s-col{
    float:right; 
    width: 63%; 
    padding: 10px;
    margin: 2% 0.5%;
    border-left: 1px solid #B0C4DE;
}
h2{
    text-transform: uppercase;
    text-align: left;
    color: #4682B4;
    font-size: 18px; 
}
h1{
    /* text-transform: uppercase;
    text-align: left;
    color: 	#F0F8FF;
    font-size: 26px;
    background-color: #191970;
    padding: 10px 10px 10px 50px;
    margin: 0; */
    display: none;
}
b{
    text-transform: uppercase;
    color: #191970;  
}
a{
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}
a:hover{
    color: 	#4682B4; 
}
ul{
    margin-left: 0; 
    padding-left: 0;
    line-height: 1.5;
}
li{
    list-style-type: none;
}
p{
    line-height: 1.5;
    text-align: center;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
}
table{
    text-align: left;
    border-collapse: collapse;
    width: 100%;
}
td{
    border-bottom: 1px solid #B0C4DE;
    padding: 5px; 
}
