* {
    box-sizing: border-box;
}
body{
    margin: 0 auto;
    padding: 0;
    background-color: #F0FFFF;
    font-family: 'Inconsolata', monospace, Arial;
    color: #000000;
    font-size: 16pt;
}
img{
    width: 15%;
    border-radius: 300px;
    -webkit-border-radius: 300px;
    -moz-border-radius: 300px;
    -ms-border-radius: 300px;
    -o-border-radius: 300px;
}
